<form action="">
  <div class="form-group">
    <label>sehir</label>
    <input class="form-control" name="şehir" [(ngModel)]="sehir">
  </div>
  <div class="form-group">
    <label>gün</label>
    <input class="form-control" name="gün" [(ngModel)]="gun">
  </div>
  <div class="form-group">
    <label>bütçe</label>
    <input class="form-control" name="bütçe" [(ngModel)]="butce">
  </div>
  <div class="form-group">
    <button class="btn" (click)="run()">sor</button>
  </div>
</form>

<img src="../assets/images/imgres.htm" style="width: 100px; height: 100px;" alt="">
